body {
    background-color: black !important;
    font-family: PT Sans;
    color: white !important;
    width: 100% !important;
    height:100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;
}

#content{
    overflow-x:hidden;
}

.lsls {
    background-color: #00FFFF !important;
    color: black !important;
    font-weight: 700 !important; 
    margin-top: 15%;
    margin-left: 10%;
    opacity: 1.0 !important;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.lsls a{
    color: black !important;
}

@media (max-width: 992px) {
    .lsls{
        margin-left: 0;
        margin-top: 0;
    }
}

section {
    width: 100vw;
    height: 100vh;
}

#contactMembers {
    padding-top: 5%;
    padding-bottom: 5%;
}

.sec-title {
    position: relative;
    margin-bottom: 60px;
}

.sec-title .title {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #fdda33;
    font-weight: 500;
    margin-bottom: 30px;
}

.sec-title h2 {
    position: relative;
    display: inline-block;
    font-size: 60px;
    line-height: 1em;
    color: #212639;
    font-weight: 400;
    padding-bottom: 30px;
    z-index: 2;
}


.sec-title.active h2:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.sec-title h2:after {
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 3px;
    width: 50px;
    content: "";
    background-color: #d1d2d6;
}

.sec-title.light h2 {
    color: #ffffff;
}

.sec-title.light h2:after {
    opacity: .20;
    background-color: #ffffff;
}

.sec-title.text-center h2:before,
.sec-title.text-center h2:after {
    right: 0;
    left: 0;
    margin: 0 auto;
}

.sec-title.text-center h2:before {
    opacity: .60;
}

.speakers-section {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 145px 20px 90px;
    overflow: hidden;
}

.speaker-block {
    position: relative;
    margin-bottom: 40px;
}

.speaker-block .inner-box {
    position: relative;
   
}
.contact-us .inner-box{
    position: relative;
    height:400px;
    width:400px;

}

.contact-us .image-box{
    position: relative;
    height:400px;
    width:400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, .15);
    overflow: auto;
}
.speaker-block .image-box {
    position: relative;
    
    padding: 20px;
    background-color: rgba(255, 255, 255, .15);
    overflow: auto;
}

.speaker-block .image-box .image:after,
.speaker-block .image-box:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background-color: #5457ee;
    content: "";
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

.speaker-block .inner-box:hover .image-box .image:after,
.speaker-block .inner-box:hover .image-box:before {
    height: 100%;
}

.speaker-block .image-box .image:after {
    opacity: .40;
    z-index: 1;
    top: auto;
    bottom: 0;
    background-color: #4a34a5;
}

.speaker-block .image-box .image {
    position: relative;
    margin-bottom: 0;
    z-index: 1;
    overflow: hidden;
}

.speaker-block .image-box .image img {
    display: block;
    width: 100%;
    height: auto;
}

.speaker-block .social-links {
    position: absolute;
    left: 0;
    bottom: -140px;
    padding: 20px;
    width: 100%;
    z-index: 9;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

.speaker-block .social-links ul {
    position: relative;
    padding: 30px 20px;
    text-align: center;
    background-color: rgba(253, 218, 51, 0.85);
}

.speaker-block .social-links li {
    position: relative;
    display: inline-block;
    margin: 0 9px;
}

.speaker-block .social-links li a {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.speaker-block .social-links li a:hover {
    color: #fac201;
}
.contact-us .speaker-block-mobile{
    display:none;
}
.speaker-block-mobile{
    display:none;
}

@media only screen and (max-width : 900px) {
   .speaker-block{
       display:none;
   }
    .contact-us .speaker-block-mobile{
        display:block;
        position: relative;
        padding: 30px 2px 2px 2px;
        text-align: center;
        background-color: rgb(0, 0, 0);
        
    }
    .speaker-block-mobile{
        display:block;
        position: relative;
        padding: 30px 2px 2px 2px;
        text-align: center;
        background-color: rgb(0, 0, 0);
        
    }
    .contact-mobile{
        display:block;
        color:white;
    }
}

.speaker-block .inner-box:hover .social-links {
    bottom: 0;
}

.speaker-block .caption-box {
    position: relative;
    padding-top: 30px;
}

.speaker-block .caption-box .name {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1em;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 10px;
}

.speaker-block .caption-box .name a {
    color: #ffffff;
    display: inline-block;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.speaker-block .caption-box .name a:hover {
    color: #fdda33;
}

.speaker-block .caption-box .designation {
    position: relative;
    display: block;
    font-size: 17px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    opacity: .70;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.contactMembers {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}

#logo-in {
    position: absolute;
    top: 50vh;
    left: 38vw;
    margin: 0px auto;
    transform: translateY(-60%);
}

#logo-in img {
    display: block;
    margin: 0 auto;
    width: 20vw;
}

svg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: -2vw;
    z-index: -5;
    transition: 1s linear;
}

svg path {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
    animation: dash 20s linear forwards;
    animation-iteration-count: infinite;
}


nav a {
    color: white !important;
    font-size: large !important;
    font-weight: 600 !important;
}


nav .nav-link:hover{
    color: #00ffff !important;
}

.navbar-toggler {
    background: #00ffff !important;
}

.navbar-toggler-icon{
    background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0') !important;
}

.about hr {
    border: 8px solid rgba(255, 255, 255, 1.0) !important;
    width: 50%;
}

.about {
    background: url("assets/about_background.png");
    background-position: center;
    background-size: cover;
    transition: background-position ease;
    animation: summa;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.about .container {
    padding: 60px !important;
}

.about h1 {
    font-weight: 800;
    text-align: center;
    font-size: 60px;
}

.about .para1 {
    width: 50vh;
    background: rgba(0, 0, 0, 0.5) !important;
    padding: 16px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.about .para2 {
    position: relative;
    background: rgba(0, 0, 0, 0.5) !important;
    padding: 16px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.05);
}

nav .nav-link:hover {
    color: #00ffff !important;
}

@keyframes ulla-va {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes summa {
    25% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    75% {
        background-position: left;
    }
    100% {
        background-position: center;
    }
}

@media (max-width: 768px) {
    .about .para2{
        font-size: 15px;
    }

    .about .para1{
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    .about .para2{
        top:10px;
        left: 0px;
    }
}

@media (max-width: 450px) {
    .about{
        animation-duration: 8s;
    }
}

@media (max-width: 576px) {
    svg {
        transform: scale(1.3);
    }
}



/*FOOTER*/

footer {
    background: rgb(0, 11, 19) !important;
    background: -webkit-linear-gradient(59deg, rgb(0, 5, 7), rgb(0, 4, 7));
    background: linear-gradient(59deg, rgb(0, 3, 5), rgb(0, 3, 5));
    color: white;
    margin-top:100px;
    
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    align-content: center;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }

  

 /*.lsls{
    animation: flash 1s infinite; 
    -webkit-animation: flash 1s infinite;  
 }
 @keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}


@-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}


@-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
} */
.lsls {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
    0% { background-color: #00FFFF; -webkit-box-shadow: 0 0 3px #00FFFF; }
    50% { background-color: #00FFFF; -webkit-box-shadow: 0 0 40px #00FFFF; }
    100% { background-color: #00FFFF; -webkit-box-shadow: 0 0 3px #00FFFF; }
  }

  @-moz-keyframes glowing {
    0% { background-color: #00FFFF; -moz-box-shadow: 0 0 3px #00FFFF; }
    50% { background-color: #00FFFF; -moz-box-shadow: 0 0 40px #00FFFF; }
    100% { background-color: #00FFFF; -moz-box-shadow: 0 0 3px #00FFFF; }
  }

  @-o-keyframes glowing {
    0% { background-color: #00FFFF; box-shadow: 0 0 3px #00FFFF; }
    50% { background-color: #00FFFF; box-shadow: 0 0 40px #00FFFF; }
    100% { background-color: #00FFFF; box-shadow: 0 0 3px #00FFFF; }
  }

  @keyframes glowing {
    0% { background-color: #00FFFF; box-shadow: 0 0 3px #00FFFF; }
    50% { background-color: #00FFFF; box-shadow: 0 0 40px #00FFFF; }
    100% { background-color: #00FFFF; box-shadow: 0 0 3px #00FFFF; }
  }

  #sponsors {
    padding: 60px 0;
  }
  
  #sponsors .sponsors-wrap {
    border-top: 1px solid black;
    border-left: 1px solid black;
    margin-bottom: 30px;
  }
  
  #sponsors .sponsor-logo {
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    overflow: hidden;
    background: rgba(7, 0, 0, 0.5);
    height: 320px;
  }
  
  #sponsors .sponsor-logo:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  #sponsors img {
    transition: all 0.4s ease-in-out;
  }







  