body {
<<<<<<< HEAD
        margin: 0;
        padding: 0;
        height: auto;
        height: 100vh;
        width: 100%;
        font-family: "Barlow", sans-serif;
        background: #000000;
=======
  margin: 0;
  padding: 0;
  height: auto;
  height: 100vh;
  width: 100%;
  font-family: 'Barlow', sans-serif;
  background: #000000;
>>>>>>> 1560ba0402b5181ab56b5219548f6d8107f4ef3e
}

html {
<<<<<<< HEAD
        overflow: auto;
=======
  overflow: auto;
>>>>>>> 1560ba0402b5181ab56b5219548f6d8107f4ef3e
}

.ui.link.cards {
<<<<<<< HEAD
        margin: 0 auto;
=======
  margin: 0 auto;
>>>>>>> 1560ba0402b5181ab56b5219548f6d8107f4ef3e
}

.pad {
<<<<<<< HEAD
        padding-top: 20px;
=======
  padding-top: 20px;
>>>>>>> 1560ba0402b5181ab56b5219548f6d8107f4ef3e
}

.ui.positive.right.labeled.icon.button {
<<<<<<< HEAD
        background: #00adf1;
}

.card {
        height: 540px;
        min-width: 32%;
}

@media screen and (max-width: 992px) {
        .card {
                min-width: 96%;
        }
}
.ui.fullscreen.modal {
        top: 1%;
        position: fixed;
        margin-left: 2%;
}

@media screen and (max-width: 992px) {
        .ui.fullscreen.modal {
                position: fixed;
                top: 20%;
                width: 400px;
                margin-left: 1.5%;
        }
}

@media screen and (max-width: 768px) {
        .ui.fullscreen.modal {
                position: fixed;
                top: 20%;
                width: 400px;
                margin-left: 1.5%;
        }
}

@media screen and (max-width: 767px) {
        .ui.ui.fullscreen.modal {
                position: fixed;
                top: 5%;
                width: 400px;
                margin-left: 1.5%;
        }
}

.ui.medium.image {
        position: relative;
        margin: 1%;
}

.covid-tech {
        height: 400px;
        width: 400px;
}

.covid {
        height: auto;
        background-color: rgb(26, 23, 23);
=======
  background: #00adf1;
}

.card {
  height: 540px;
  min-width: 350px;
}

.ui.fullscreen.modal {
  top: 1%;
  position: fixed;
  margin-left: 2%;
}

@media screen and (max-width: 992px) {
  .ui.fullscreen.modal {
    position: fixed;
    top: 20%;
    width: 400px;
    margin-left: 1.5%;
  }
}

@media screen and (max-width: 768px) {
  .ui.fullscreen.modal {
    position: fixed;
    top: 20%;
    width: 400px;
    margin-left: 1.5%;
  }
}

@media screen and (max-width: 767px) {
  .ui.ui.fullscreen.modal {
    position: fixed;
    top: 5%;
    width: 400px;
    margin-left: 1.5%;
  }
}

.ui.medium.image {
  position: relative;
  margin: 1%;
}

.riddle-month {
  height: auto;
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.covid-tech {
  width: 100%;
  max-width: 500px;
}

.covid {
  height: auto;
  background-color: rgb(26, 23, 23);
>>>>>>> 1560ba0402b5181ab56b5219548f6d8107f4ef3e
}
