<%-include("partials/header.ejs")%>
<h1 class="main-title">Covid Tech</h1>
<div class="loadinCoantiner" id="articleLoader">
    <div class="bouncer">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div id="covidTechTeam">
    <h3 style="margin: 0% 1% 1% 1%; text-align: center">
        <em><a style="color: white; font-size: 18px">A series of posts highlighting the contribution of
            </a></em>
    </h3>
    <h3 style="margin: 1%; text-align: center">
        <em><a style="color: white; font-size: 18px">Instrumentation and Control Engineers to the medical field and
            </a></em>
    </h3>
    <h3 style="margin: 1% 1% 3% 1%; text-align: center">
        <em><a style="color: white; font-size: 18px">society as a whole during the trying times of COVID</a></em>
    </h3>

    <div class="d-flex justify-content-center flex-wrap">
        <img class="covid-tech" src="/assets/Images/Covid Tech/3.jpg" />
        <img class="covid-tech" src="/assets/Images/Covid Tech/2.jpg" />
        <img class="covid-tech" src="/assets/Images/Covid Tech/1.jpg" />
    </div>
    <hr />
</div>

<script>
    const linkTag = document.createElement("link");
    linkTag.rel = 'stylesheet';
    linkTag.href = 'css/articles.css';
    document.head.appendChild(linkTag);
    window.onload = ()=>{
        $('#covidTechTeam').hide()
        $(window).on('load', function () {
            $('#articleLoader').hide()
            $('#covidTechTeam').show()
        })
    }
</script>
<%-include("partials/footer.ejs")%>