<%-include("partials/header.ejs")%>

    <div class="ui raised stacked very padded text container segment" style="background-color:#3f3e43">
        <h1 class="ui header" style="text-align: center; font-family: 'Roboto Mono', monospace;color: white;">Sensors-Signup</h1>
        <div class="ui divider" style="background: white;"></div>

        <div class="ui  form">
            <div class="field">
                <label style="color: aliceblue;font-size: larger;">Name</label>
                <input type="text" placehoder="Enter your Name" id="name">
            </div>
            <div class="field">
                <label style="color: aliceblue;font-size: larger;">EmailId</label>
                <input type="email" placehoder="Enter your email" id="email">
            </div>
            <div class="field">
                <label style="color: aliceblue; font-size: larger;">Password</label>

                <input type="password" placehoder="Enter your password" id="password">
            </div>
            <div class="field">
                <label style="color: aliceblue;font-size: larger;">Phone Number</label>
                <input type="number" placehoder="Enter your phone no" id="phoneNo">
            </div>
            <div class="field">
                <label style="color: aliceblue; font-size: larger;">Department</label>

                <input type="text" placehoder="Enter your Department" id="department">
            </div>
            <div class="field">
                <label style="color: aliceblue;font-size: larger;">Year Of Graduation</label>
                <input type="number" placehoder="Enter your year of Graduation" id="year">
            </div>
            <div class="field">
                <label style="color: aliceblue; font-size: larger;">College</label>

                <input type="text" placehoder="Enter your college" id="college">
            </div>

            <div style="width:100%;text-align: center;margin: auto;margin-top: 20px;">
                <button class="large  ui inverted gray button" id="submit-btn">Sign-Up</button>
            </div>
        </div>
        <div class="ui center aligned container">
            <p style="color: white;">Already have an account? Login <a href="/login" style="color: blue;">here</a></p>
        </div>
    </div>

    <script>
        // const linkTag = document.createElement("link");
        // linkTag.rel = 'stylesheet';
        // linkTag.href = 'css/register.css';
        // document.head.appendChild(linkTag);
    </script>
    <%-include("partials/footer.ejs")%>