<%-include("partials/header.ejs")%>

<h1 class="main-title">Team</h1>
<div class="loadinCoantiner" id="teamLoader">
    <div class="bouncer">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="container" id="teams">
    <div class="row justify-content-center">
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Ajay Shankar S.jpeg.JPG" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Ajay Shankar</h2>
                    <h3>Treasurer</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Aditya R.jpg" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Aditya R</h2>
                    <h3>Chairman</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Deeraj.JPG" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Deeraj Eswar</h2>
                    <h3>Overall Coordinator</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Pranay K.jpg" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Pranay</h2>
                    <h3>Technical Secretary</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Vignes.jpg" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Vignesh</h2>
                    <h3>General Secretary</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Aniswar.jpeg" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Aniswar</h2>
                    <h3>Marketing</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Pradnya.JPG" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Pradnya</h2>
                    <h3>Events</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Fasith.jpg" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Fasith</h2>
                    <h3>Events</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Neha.JPG" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Neha</h2>
                    <h3>Events</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Nathaniel Nirmal.jpeg" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Nathaniel</h2>
                    <h3>Workshops</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Ramachandran S.jpeg" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Ramachandran</h2>
                    <h3>Workshops</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Mohamed Shahidh.jpg" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Shahidh</h2>
                    <h3>Organizing Committee</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/sachin.JPG" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Sachin</h2>
                    <h3>Public Relations</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Varsha Raju.PNG" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Varsha</h2>
                    <h3>Public Relations</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Bharath Adhi.jpg" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Bharath Adhi</h2>
                    <h3>Public Relations</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Basith Mohamed.jpg" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Basith</h2>
                    <h3>Publicity</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/MdAbrar.jpeg.jpg" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Mohamed Abrar</h2>
                    <h3>Publicity</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Karthikeyan.jpeg" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Karthikeyan</h2>
                    <h3>Design</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Kumaresh.jpg" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Kumaresh</h2>
                    <h3>Content</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Dhwani.jpeg" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Dhwani</h2>
                    <h3>Content</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-6">
                <div class="team-img">
                    <img src="assets/Images/Team/Goutham CM.jpg" alt="Team Image" />
                </div>
                <div class="team-content">
                    <h2>Goutham C M</h2>
                    <h3>Web Ops</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const linkTag = document.createElement("link");
    linkTag.rel = 'stylesheet';
    linkTag.href = 'css/articles.css';
    document.head.appendChild(linkTag);
    window.onload = ()=>{
        $('#teams').hide()
        $('#teamLoader').hide()
        $('#teams').show()
    }
</script>
<%-include("partials/footer.ejs")%>