<div class="card">
	<div class="image">
		<img src="/assets/Images/Medium images/Gate_Transcript.jpeg" style="height: 350px" />
	</div>
	<div class="content">
		<div class="header">Interview with Sai Sandeep on GATE <%= i %></div>
		<div class="description">
			Sai Sandeep secured AIR Rank 1 in Gate 2020 in Instrumentation.
			Click on the link below to read more on his preparation strategy
			for succeeding at GATE and the career paths available after
			writing it.
		</div>
	</div>
	<a class="header" href="https://medium.com/sensors/interview-with-sai-sandeep-on-gate-7633ca4a3563"
		target="_blank">
		<div class="ui bottom attached button">Read More</div>
	</a>
</div>