<div class="card">
	<div class="image">
		<img src="/assets/Images/Webinars/Saiman Shetty.jpeg" style="height: 350px" />
	</div>
	<div class="content">
		<div class="header">Interview with Saiman Shetty <%= i %></div>
		<div class="description">
			Webinar on Career & Product development with Saiman Shetty.<br />
			Saiman Shetty is an entrepreneur, engineer, and much more. Aside
			from founding several companies, he is currently a Powertrain
			Engineer at Tesla and Technical Manager at Lyft.
		</div>
	</div>
	<a
		class="header"
		href="https://medium.com/sensors/interview-with-sai-sandeep-on-gate-7633ca4a3563"
		target=".blank"
	>
		<div class="ui bottom attached button">Read More</div>
	</a>
</div>