<div class="col-sm-6">
	<div class="title-subtile-holder">
		<h1 class="section-title light_title no-margin">
			Artificial Intelligence Gaming <%= i %>
		</h1>
		<div class="spacer_10"></div>
		<div class="clearfix"></div>
		<div class="section-border green_border no-margin"></div>
		<div class="spacer_10"></div>
		<div class="section-subtitle light_subtitle">
			Ever wondered if machines learn from their mistakes just like we
			humans do? Sensors brings you the most trending concepts in
			science in the form of Reinforcement Learning (AI-RL) by
			combining it with some exciting games. Learn to train your
			computer to be the best by using powerful algorithms like
			Q-learning, Q-deep learning, and so on.
			<hr />
			<h1 style="font-weight: bold">Take away:</h1>
			Certificates, HTML, CSS, Javascript, Bootstrap4.
			<hr />
			<a
				class="btn btn-primary btn-lg"
				href="https://forms.gle/t7wjvNzgBD8HoSzZ6"
				target="_blank"
				role="button"
			>Register</a
			>
		</div>
	</div>
	<div class="spacer_50"></div>
</div>