<div class="col-sm-6 vc_col-has-fill">
	<div
		class="wpb_single_image wpb_content_element vc_align_left wow fadeInLeft d-flex justify-content-center"
	>
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_border_grey">
				<div style="width: 200px; height: 60px"></div>
				<img
					width="420"
					style="border-radius: 15px"
					src="assets/Images/Workshops/workshop_1.png"
					class="vc_single_image-img attachment-full"
					alt="Vector-Smart-Object9"
				/>
			</div>
		</figure>
	</div>
</div>